<div class="background">
    <p class="title">Legal Team</p>
    <p class="date">Effective Date: 27th August 2023</p>
    <p class="subtitle">Our Rockstar "Legal" Team</p>
    <p class="content">
Here at JY&trade;&reg;, We take legal proceedings very seriously. As a result, we only let the best and brightest legal minds represent our interests. It is with great pleasure, we introduce you to our lead counsel In&#233;s "A&#207;nz" Tanoh and our legal intern ChatGPT&trade;&reg;.
    </p>
    <p class="subtitle">How to Sue Us </p>
    <p class="content">
        Step 1<br/>Put on your silliest hat. Legal battles are much more enjoyable when you're fashion-forward.
        <br/><br/>
        Step 2<br/>Call your friendly neighborhood unicorn for some magical legal advice. They're usually in the enchanted forest on Tuesdays.
        <br/><br/>
        Step 3<br/>Recite the following incantation while standing on one leg and juggling rubber chickens: "Fokoro Fokoro mi Mokoro, I hereby summon JustYams to a duel of wit and whimsy!"
        <br/><br/>
        Step 4<br/>Dance the Macarena for no apparent reason. We just like to keep things funky.
        <br/><br/>
        Step 5<br/>Realize that lawsuits are no fun, and maybe, just maybe, let's resolve things with a friendly chat instead. Our customer support team is waiting to make your day brighter (minus the legal battles).
    </p>
    <p class="subtitle">Where to Send Your Subpoena (aka Pigeon Mail)</p>
    <p class="content">
        If you absolutely must send us a subpoena, we recommend attaching it to a carrier pigeon trained in the ancient art of delivering legal documents. Send it to his Royal Majest, His Excellency, President for Life, Field Marshal Al Hajj Doctor Idi Amin Dada, VC, DSO, MC, Lord of all the Beasts of the Earth and Fishes of the Sea and Conqueror of the British Empire in Africa in General and Uganda in Particular.
    </p>
    <p class="subtitle">Important Disclaimer</p>
    <p class="content">While we believe in a good laugh, we take our legal obligations seriously. In the highly unlikely event that you do have a legitimate legal matter, please contact us through proper legal channels, and we'll address it promptly.

        Remember, life is too short for lawsuits. Let's chat over a cup of virtual tea instead. 🍵
        
        Please note that this humorous text is purely for entertainment purposes and should not be taken as legal advice. Always consult with legal professionals for any genuine legal concerns or inquiries.</p>
</div>