<div class="background">
    <div class="top"><app-icon></app-icon></div>
    <div id="card"> 
        <p class="title">Terms of Service for Just Yams</p>
        <p class="date">Effective Date: 27th August 2023</p>
        <p class="subtitle">Acceptance of Terms</p>
        <p class="content">
            Welcome to Just Yams ("we", "our", or "us"). By accessing or using our mobile application and services, you agree to comply with and be bound by these <a href="https://www.justyams.com/legal/TermsOfService">Terms of Service</a>. If you do not agree with these terms, please do not use our app.
        </p>
        <p class="subtitle">API Client Agreement</p>
        <p class="content">
            When using our app as an API client to access YouTube services, you acknowledge and agree that your use of our API client is subject to the YouTube Terms of Service, available at <a href="https://www.youtube.com/t/terms">https://www.youtube.com/t/terms</a>, in addition to these Terms of Service.
        </p>
        <p class="subtitle">Privacy Policy</p>
        <p class="content">
            Our use of your data is governed by our <a href="https://www.justyams.com/legal/PrivacyPolicy">Privacy Policy</a>.
        </p>
        <p class="subtitle">User Accounts</p>
        <p class="content">
            To use our app, you will need to sign in with your existing Google account through Google's OAuth 2.0 authentication process. By doing so, you grant us the necessary permissions to access your Google account information for the purposes of providing our services.
        </p>
        <p class="subtitle">Appropriate Use</p>
        <p class="content">
            You agree not to use our app for any unlawful or unauthorized purpose. You shall not engage in any activity that could harm, disable, overburden, or impair the app's functionality or interfere with other users' enjoyment of the app.
        </p>
        <p class="subtitle">Intellectual Property</p>
        <p class="content">
            All content, materials, and features available through the app are protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, modify, create derivative works of, publicly display, or perform any of the content without our prior written consent.
        </p>
        <p class="subtitle">Data Handling</p>
        <p class="content">
            We want to clarify that we do not store any data that is not already publicly accessible, such as your publicly available YouTube videos. We collect data from your YouTube account by querying the YouTube API. We do not collect data directly from your device. Please note that for purposes of improving our performance we may store all captions which we generate on your behalf as well as any edits you make to those captions.
        </p>
        <p class="subtitle">Revoking Access</p>
        <p class="content">
            You can review and manage your API Client's access to your data by visiting the Google Security Settings page at <a href="https://myaccount.google.com/connections">https://myaccount.google.com/connections</a>.
        </p>
        <p class="subtitle">Limitation of Liability</p>
        <p class="content">
            To the fullest extent permitted by applicable law, we shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses resulting from your use of the app.
        </p>
        <p class="subtitle">Indemnification</p>
        <p class="content">
            You agree to defend, indemnify, and hold us harmless from and against any claims, liabilities, damages, losses, and expenses, including reasonable attorney's fees and costs, arising out of or in any way connected with your use of the app or your violation of these Terms of Service.
        </p>
        <p class="subtitle">Changes to Terms</p>
        <p class="content">
            We may update these Terms of Service from time to time. Any changes we make will be effective when we post the updated Terms of Service in the app. It is your responsibility to review the Terms of Service periodically for updates.
        </p>
        <p class="subtitle">Termination</p>
        <p class="content">
            We reserve the right to terminate or suspend your account and access to the app at our sole discretion, without prior notice or liability, for any reason, including if you violate these Terms of Service.
        </p>
        <p class="subtitle">Governing Law</p>
        <p class="content">
            These Terms of Service shall be governed by and construed in accordance with the laws of the United States of America, without regard to its conflict of law principles.
        </p>
        <p class="subtitle">Contact Us</p>
        <p class="content">
            If you have any questions or concerns about these Terms of Service, please contact us at <a href="mailto:mhenidevs@gmail.com">mhenidevs@gmail.com</a>.
        </p>
    </div>
</div>
<!-- <p class="title"></p>
<p class="date"></p>
<p class="subtitle"></p>
<p class="content"></p> -->