<div class="background">
    <app-icon></app-icon>
    <!-- <p class="servicetitle">The Transcription Service</p> -->
    <div class="container">
        <div class="userpic">
            <img class="userpicimg" *ngIf="user.thumbnails[2] !== undefined" [src]="user.thumbnails[0].url" />
            <button class="usertxt" *ngIf="user" unselectable="on" (click)="menuClick()" >{{user.channelName}} <span> 🍠 </span></button>
        </div>
        <div class="menu" *ngIf="menuOpen">
            <!-- <p class="usertxt" *ngIf="user">You joined YouTube {{user.timeOnPLatform}} </p> -->
            <button class="usertxt" unselectable="on" (click)="SignOut()" *ngIf="user">Sign Out</button>
            <button class="usertxt" unselectable="on" (click)="testEnpoint()" *ngIf="user">Test Endpoint</button>
            <button class="usertxt" unselectable="on" (click)="testEnpoint2()" *ngIf="user">Test Endpoint 2</button>
            <button class="usertxt" unselectable="on" (click)="menuClick()" *ngIf="user">✖️</button>
        </div>
    </div>
</div>