<div class="main-card">
    <svg style="height:0px;" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="purple-shift" x="-10%" y="-10%" width="120%" height="120%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
                <feColorMatrix type="matrix" values=".33 .33 .33 0 0
                        .33 .33 .33 0 0
                        .33 .33 .33 0 0
                        0 0 0 1 0" in="SourceGraphic" result="colormatrix"/>
                <feComponentTransfer in="colormatrix" result="componentTransfer">
                        <feFuncR type="table" tableValues="0.37 0.57 0.09"/>
                    <feFuncG type="table" tableValues="0.17 0.3 0.26"/>
                    <feFuncB type="table" tableValues="0.44 0.71 0.55"/>
                    <feFuncA type="table" tableValues="0 1"/>
                  </feComponentTransfer>
                <feBlend mode="hue" in="componentTransfer" in2="SourceGraphic" result="blend"/>
            </filter>
        </defs>
      </svg>
      
    <div class="image-mask">
        <!-- <span class="flag" [ngSwitch]="this.videoInfo.language">
            <ng-container  *ngSwitchCase="'Kinyarwanda'">
                🇷🇼
            </ng-container>
            <ng-container  *ngSwitchCase="'Luganda'">
                🇺🇬
            </ng-container>
            <ng-container  *ngSwitchCase="'Swahili'">
                🇰🇪
            </ng-container>
            <ng-container  *ngSwitchDefault>
                🆕
            </ng-container>
          </span> -->
        <p class="video-title">{{videoInfo.title}}</p>
        <img [src]="videoInfo.thumbnail" class="vid-img"/>
    </div>
    
    <div class="button-case">
        <ng-container [ngSwitch]="this.videoInfo.status"> 
            <ng-container  *ngSwitchCase="'NEW'">
                <button class="top-button" (click)="transcribe()">Transcribe</button>
            </ng-container>
            <ng-container  *ngSwitchCase="'COMPLETED'">
                <button class="top-button" (click)="navigateToVideoDetail()">View Results</button>
            </ng-container>
            <ng-container  *ngSwitchCase="'UPDATED'">
                <button class="top-button" (click)="navigateToVideoDetail()">View Results</button>
            </ng-container>
            <ng-container  *ngSwitchCase="'FAILED'">
                <button class="disabled-button">Job failed! 💀</button>
            </ng-container>
            <ng-container  *ngSwitchCase="'CREATED'">
                <div class="loader-button">
                    <div class="loader"></div>
                    Waiting
                </div>
            </ng-container>
            <ng-container  *ngSwitchCase="'IN_PROGRESS'">
                <div class="loader-button">
                    <div class="loader"></div>
                    Transcribing...
                </div>
            </ng-container>
        </ng-container>
    </div>
   
    <!-- <hr width="100%"/> -->
    
</div>


