.main-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 60vw;
    height: 350px;
    border-radius: 20px;
    background-color: aliceblue;
    border-style: solid;
    border-color: #d9ad6133;
    border-width: 1px;
    transition: box-shadow 0.2s;
    
}

.main-card:hover {
    box-shadow: 0 4px 8px 0 #d9ad6133, 0 6px 20px 0 #d9ad614b;
}

.video-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    border-radius: 20px 0px 0px 20px; 
    background-color:#000000;
    overflow: hidden;
}

.video-title {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-weight: 900; */
    font-size: 24px;
    /* border: none; */
    /* text-decoration: overline; */
    padding-left: 15px;
    /* margin-bottom: 35px; */
    
    cursor:context-menu;
    color: aliceblue;
    /* background-color: #611f69; */
    font-family: 'Comfortaa';
    text-align: left;
}

.button-case {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 350px;
    padding: 0;
    margin: 0;
}

.button1 {
    all: unset;
    width: 50%;
    height: 100%;
    transition: background-color 1s;
    text-align: center;
    cursor:pointer;
    color: #d9ad617d;
    font-family: 'Comfortaa';
    font-size: 24px;
    padding: 0;
    margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.button1:hover {
    background-color: #d9ad617d;
    color: aliceblue;
}

.button2 {
    all: unset;
    width: 50%;
    height: 100%;
    transition: background-color 1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #621f697d;
    font-family: 'Comfortaa';
    font-size: 24px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.button2:hover {
    background-color: #621f697d;
    color: aliceblue;
}

.button3 {
    all: unset;
    width: 50%;
    height: 100%;
    transition: background-color 1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #696969bc;
    font-family: 'Comfortaa';
    font-size: 24px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.button3:hover {
    background-color: #696969bc;
    color: aliceblue;
}