.main-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px;
    width: 250px;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    background-color:#f9f3e900;
    /* background-color: aliceblue; */
    border: none;
    /* border-style: solid;
    border-color: #d9ad6133;
    border-width: 1px; */
    /* transition: box-shadow 0.1s; */
    /* box-shadow: 0 4px 8px 0 #d9ad6133, 0 6px 20px 0 #d9ad614b; */
    
}


.top-button {
    all: unset;
    height: 22px;
    /* width: 32%; 120px; */
    /* width: 120px; */
    flex-grow: 1;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding-left: 2px;
    padding-right: 2px; */
    font-weight: 400;
    font-size: 18px;
    background-color: #611f69;
    color: white;
    cursor: pointer;
    font-family: 'Antic';
    text-align: center;
    transition: background-color 0s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /* margin: 5px; */
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    /* margin: 5px; */
}

.top-button:hover {
    background-color: #3e1443;
    color: white;
}

.top-button-shared {
    all: unset;
    height: 22px;
    /* width: 32%; 120px; */
    width: 120px;
    /* flex-grow: 1; */
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding-left: 2px;
    padding-right: 2px; */
    font-weight: 400;
    font-size: 18px;
    background-color: #611f69;
    color: white;
    cursor: pointer;
    font-family: 'Antic';
    text-align: center;
    transition: background-color 0s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /* margin: 5px; */
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    /* margin: 5px; */
}

.top-button:hover {
    background-color: #3e1443;
    color: white;
}

.disabled-button {
    all: unset;
    height: 22px;
    flex-grow: 1;
    /* width: 160px; */
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    background-color: #4a444a;
    color: white;
    cursor:not-allowed;
    font-family: 'Antic';
    text-align: center;
    transition: background-color 0s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    margin: 5px;
}

.video-space {
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: center; */
    /* align-items: flex-start; */
    height: 100%;
    width: 50%;
    /* border-radius: 20px 0px 0px 20px;  */
    /* border-right: 1px solid #c5c5c534 ; */
    /* background-color:#00000000; */
    /* overflow: hidden; */
    margin: 0px;
}

.image-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border-radius: 2px; */
    height: fit-content;
    /* aspect-ratio: 16/9; */
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;

    /* filter: blur(3px); */
    /* filter: grayscale(1) contrast(6) ; */
    /* filter: url("#purple-shift"); */
    /* filter: brightness(0) saturate(100%) invert(13%) sepia(49%) saturate(3175%) hue-rotate(345deg) brightness(85%) contrast(98%); */
}

.image-mask:hover {
    /* margin-bottom: 20px; */
    /* border: #611f69 2px solid; */
    /* box-shadow: 0 1px 2px 0 #621f694f, 0 2px 3px 0 #621f697d; */
    filter: none;
    /* box-shadow: none; */
    /* border-radius: 2px; */
}

.vid-img {
    height: 100%;
    aspect-ratio: 16/9;
    /* width: 100%; */
    border-radius: 5px;
    padding: 0px;
    /* margin: 0px; */
    background-color: #611f69;
}

.video-title {
    width: 100%;
    /* min-height: 50px; */
    /* max-height: 40px; */
    /* overflow: hidden; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 18px;
    /* text-align: center; */
    /* border: none; */
    /* text-decoration: overline; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* padding: 10px; */
    /* margin: 2px; */
    /* border-radius: 0px 0px 0px 20px; */
    /* margin-bottom: 35px; */
    margin: 0px;
    padding: 0px;
    
    cursor:text;
    color: #3e1443;
    /* background-color: #00000085; */
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6320728975183824) 70%, rgba(0,0,0,0) 100%); */
    font-family: 'Antic';
    text-align: left;
}

.button-case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin-bottom: 5px;
}

.transcribe-button {
    all: unset;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #d9ad61;
    font-family: 'Inconsolata';
    font-size: 24px;
    padding: 0;
    margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transcribe-button:hover {
    background-color: #d9ad61;
    color: aliceblue;
}

.retranscribe-button {
    all: unset;
    width: 50%;
    height: 100%;
    transition: background-color 0.1s;
    text-align: center;
    cursor:pointer;
    color: #d9ad61;
    font-family: 'Inconsolata';
    font-size: 24px;
    padding: 0;
    margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.retranscribe-button:hover {
    background-color: #d9ad61;
    color: aliceblue;
}

.view-edit-button {
    all: unset;
    width: 50%;
    height: 100%;
    transition: background-color 0.1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #621f69;
    font-family: 'Inconsolata';
    font-size: 24px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.view-edit-button:hover {
    background-color: #621f69;
    color: aliceblue;
}

.failed-button {
    all: unset;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #696969bc;
    font-family: 'Inconsolata';
    font-size: 24px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: aliceblue;
}

.failed-button:hover {
    background-color: #696969b2;
    color: aliceblue;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #621f69;
    border-bottom: 2px solid #621f69;
    width: 12px;
    height: 12px;
    z-index: 2;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .loader-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 22px;
    transition: background-color 0.1s;
    border-radius: 0px 20px 20px 0px; 
    text-align: center;
    cursor:pointer;
    color: #696969bc;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #621f69;
    font-family: 'Antic';
    font-size: 24px;
} */

.loader-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 22px;
    /* width: 32%; */
    flex-grow: 1;
    /* width: 160px; */
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    background-color: #4a444a00;
    color: #611f69;
    cursor:not-allowed;
    font-family: 'Antic';
    text-align: center;
    transition: background-color 0s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    /* margin: 5px; */
    border: solid #621f69 2px;
}

/* .loader-button:hover {
    background-color: #621f69;
    color: white;
} */

