.background {
    background-color: #f6f4f1;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background: url(https://garden.spoonflower.com/c/9757164/p/f/m/RmYQjqT7f2DUkVRItvNlsstd8a57mVfW85jfv-LQ3v2ta_7TAkE/Geometric%20African%20Pattern.jpg); */
    background: url(https://static.vecteezy.com/system/resources/previews/008/043/428/non_2x/african-mexican-seamless-pattern-south-african-ornaments-african-tribal-background-south-africa-design-uganda-pattern-design-for-background-texture-fabric-vector.jpg);
    /* background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/rainforest-tropical-elephant-ear-and-fan-palm-leaves-repeat-pattern-audrey-jeanne-roberts.jpg); */
    /* background-size: 150px; */
    background-size: 300px;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
    padding: 18px 100px 18px 100px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 22px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 16px 15px;
    background-size: 30px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }
  

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-top: 65px; */
    /* height: fit-content; */
    /* height: calc(100% - 65px); */
    /* height: 100%; calc(100% - 85px); */
    /* background-color: blueviolet; */
    height: calc(100vh);
    padding: 0px;
    margin: 0px;
}

#text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: calc(100% - 50px); */
    /* height: 100; */
    background-color: #f6f4f1;

    width: 100vw;
    height: 100vh;

    
    /* width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px; calc(100vh + 50px)
    margin-top: 50px;
    height: calc(100vh - 100px);
    border-radius: 5px;
    transition: height 0.1s; */
    /* box-shadow: 5px 10px 8px 10px #00000063; */
    /* box-shadow: 0 4px 8px 0 #d9ad6133, 0 6px 20px 0 #d9ad614b; */
}

.icon-arr {
    font-size: 10px;
    /* animation: spinner 3s infinite linear; */
}

.gif-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    height: fit-content;
    width: calc(100% - 40px);
    /* margin: 20px; */
    border: none;
    /* background-color: black; */
}

.gif {
    width: calc(50% - 4px);
    /* height: calc((100% / 3) - 10px);
    width: 100%; */
    aspect-ratio: 16/9;
    margin: 2px;
    height: auto;
    background-color: #621f6900;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gif-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Antic';
    margin-top: 50px;
}

.gif-title-part {
    width: 50%;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.git-caption {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: 'Antic';
}

.gif-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background-color: #611f69; */
    
}


#how-it-works-text {
    color: black;
    width: 40%;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    font-family: 'Antic';
    height: 0px;
    overflow-y: scroll;
    /* transition: height 0.4s; */
    outline: none;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#how-it-works-text::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#why-it-matters-text::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#why-it-matters-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 40%;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Antic';
    height: 0px;
    overflow-y: scroll;
    /* transition: height 1.6s; */
    outline: none;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    margin-bottom: 100px;

    

    /* -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.title {
    color: #611f69;
    font-family: 'Limelight';
    font-size: 56px;
    stroke: black;
    /* font-weight: 900; */
    /* margin-top: 100px; */
    margin-bottom: 30px;
}

.top {
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    color: black;
    width: 150px;
    font-family: 'Antic';
    font-size: 20px;
    cursor: pointer;
    /* margin-right: 80%; */
    top: 30px;
    left: 30px;
}

.info-text {
    all: unset;
    color: #611f69;
    font-family: 'Antic';
    font-size: 26px;
    cursor: pointer;
    /* display: flex;
    justify-content: space-between; */
    width: 250px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.service-title {
    font-family: 'Limelight';
    /* font-family: 'Antic'; */
    /* font-family: 'M'; */
    
    font-size: 58px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.service-text {
    color: black;
    font-family: 'Antic';
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: min(90vw, 624px);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jy {
    /* color: #d9ac61; */
    font-family: 'Limelight';
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* stroke: black;
    stroke-width: 2px; */
}

.google-button-wrapper {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    
    /* background-color: #611f69; */
    font-family: 'Roboto';
    height: 46px;
    font-size: 18px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #757575;
    cursor: pointer;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 2px;
}

.google-button {
    all: unset;
    width: calc(191px * 2);
    height: calc(46px * 2);
    transition: box-shadow 0.1s;
    box-shadow: none;
    background-size: 100% 100%;
    background-image: url("/assets/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png");
}

.google-button:hover {
    background-image: url("/assets/google_signin_buttons/web/2x/btn_google_signin_light_pressed_web@2x.png");
}

/* #d9ac61  */ /* #611f69 */ 


.message {
    /* width: 100%; */
    height: 100px;
    margin-top: 300px;
    margin-bottom: 50px;
    color: #611f69;
    /* text-decoration: underline; */
    font: 60px 'Inconsolata', monospace;
    text-shadow: 2px 2px #6a6796;
}

.submit {
    width: 250px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    font: 'Inconsolata', monospace;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    background: #f3f2f2;
    color: #d9ac61;
    border: 2px solid #d9ac61;
    border-radius: 5px; 
    /* transition: background 400ms ease-out;
    color: 400ms ease-out;  */
}

.submit:hover {
    background: #d9ac61;
    color: #f3f2f2;
    border-radius: 5px; 
}



