<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="db-background">
    <!-- <app-user-display [lang]="this.lang" [user]="user" (changeLangEvent)="openModal()"></app-user-display> -->
    <div class="db-warning" id="db-warning">{{this.errorMessage}}</div>
    <div class="db-info" id="db-info">{{this.infoMessage}}</div>
    <div id="db-myModal" class="db-modal">

        <div class="db-modal-content">
          <span id="db-modal_title">Select a Language</span>
          <ng-container *ngFor="let lang of this.languages; let i = index">
            <button id="db-lang_{{lang}}" class="db-lang-select" (click)="this.setLang(lang)">
              <span class="db-lang-select-text">
                {{lang}}
                <span class="db-lang-select-flag-modal" [ngSwitch]="lang">
                  <ng-container  *ngSwitchCase="''">
                      
                  </ng-container>
                  <ng-container  *ngSwitchCase="'Kinyarwanda'">
                      🇷🇼
                  </ng-container>
                  <ng-container  *ngSwitchCase="'Luganda'">
                      🇺🇬
                  </ng-container>
                  <ng-container  *ngSwitchCase="'Swahili'">
                      🇰🇪
                  </ng-container>
                </span>
              </span>
            </button>
        </ng-container>
          <span (click)="closeModal()" class="db-close">Close</span>
        </div>
      
    </div>
    <div class="db-top"><app-icon></app-icon></div>
    <div class="db-top-right-panel">
      <div id="db-flag-select" (click)="flipLangSelect()">
        <span class="db-lang-bubble" [ngSwitch]="this.lang">
          <ng-container  *ngSwitchCase="''">
              
          </ng-container>
          <ng-container  *ngSwitchCase="'Kinyarwanda'">
              🇷🇼
          </ng-container>
          <ng-container  *ngSwitchCase="'Luganda'">
              🇺🇬
          </ng-container>
          <ng-container  *ngSwitchCase="'Swahili'">
              🇰🇪
          </ng-container>
        </span>
        <ng-container *ngIf="!this.langSelected" >
          <ng-container *ngFor="let lang of this.filteredLanguages let i = index">
            
            <span (click)="setLang(lang)" class="db-lang-bubble" [ngSwitch]="lang">
              <ng-container  *ngSwitchCase="''">
                  -
              </ng-container>
              <ng-container  *ngSwitchCase="'Kinyarwanda'">
                  🇷🇼
              </ng-container>
              <ng-container  *ngSwitchCase="'Luganda'">
                  🇺🇬
              </ng-container>
              <ng-container  *ngSwitchCase="'Swahili'">
                  🇰🇪
              </ng-container>
            </span>
          </ng-container>
        </ng-container>
        <!-- &#9650; -->
      </div>
      <a style="all:unset" routerLink="/">
      <button class="db-signout-button" (click)="signOut()">
        Sign Out
      </button>
      </a>

    </div>
    <div class="db-search-n-filter" >
      <input class="db-input-box" (keyup)="onKey($event)" type="text" placeholder="Filter by video title" #filter>
        <!-- <button class="sync-button">&#8634; &#10161;</button> -->
        <button (click)="syncVideos()" class="db-sync-button"><span class="db-tooltiptext">Pull new videos from YouTube</span><i class='fas fa-sync spc'></i></button> <!-- &#8634; -->
        
        <div class="db-filter-buttons">
            <button id="db-left-button" class="db-left-click-inactive" (click)="flipFailed()"><div id="db-left-button-indicator" class="db-indicator-inactive"></div>Failed</button>
            <button id="db-mid-button" class="db-mid-click-inactive" (click)="flipInProgress()"><div id="db-mid-button-indicator" class="db-indicator-inactive"></div>In Progress</button>
            <button id="db-right-button" class="db-right-click-inactive" (click)="flipDone()"><div id="db-right-button-indicator" class="db-indicator-inactive"></div>Done</button>
        </div>
    </div>
    <div class="db-demo-mode" *ngIf="isDemoUser">
      <p *ngIf="demoVideos.length == 0" class="db-demo-text">Looks like there are no video on your YouTube account 😐</p>
      <button (click)="getDemoVideos()" class="db-demo-video-button" *ngIf="demoVideos.length == 0">Get Demo Videos</button>
      <div class="db-video-container" *ngIf="demoVideos.length > 0">
        <app-video-card *ngFor="let video of this.shownVideos; let i = index" key="i" [videoInfo]="video" [lang]="this.lang" class="db-video" (transcribeButtonClicked)="grabVideos()"/>
      </div>
    </div>
    <div class="db-video-container" *ngIf="!userHasNoVideos">
        <app-video-card *ngFor="let video of this.shownVideos; let i = index" key="i" [videoInfo]="video" [lang]="this.lang" class="db-video" (transcribeButtonClicked)="grabVideos()" />
    </div>
    
</div>