<div class="background">
    <app-user-display [user]="user"></app-user-display>
    <!-- <button (click)="test()">Connect to YouTube</button> -->
    <div class="search-n-filter" >
        <input class="input-box" (keyup)="onKey($event)" type="text" placeholder="Filter by video title" #filter>
        <div class="filter-buttons">
            <button id="left-button" class="left-click-inactive" (click)="flipFailed()">Failed</button>
            <button id="mid-button" class="mid-click-inactive" (click)="flipInProgress()">In Progress</button>
            <button id="right-button" class="right-click-inactive" (click)="flipDone()">Done</button>
        </div>
        
    </div>
    <div class="video-container">
        <p class="vid-section-title">Videos</p>
        <ng-container *ngFor="let video of this.shownVideos; let i = index">
            <app-video-card key="i" [videoInfo]="video" />
        </ng-container>
        
    </div>
    
</div>