<div class="background">
    <p class="title">Privacy Policy for Just Yams</p>
    <p class="date">Effective Date: 27th August 2023</p>
    <p class="subtitle">Introduction</p>
    <p class="content">
Welcome to Just Yams ("we", "our", or "us"). We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our mobile application and services.
<br/><br/>
By using our app, you agree to the terms of this Privacy Policy. If you do not agree with the practices described in this policy, please do not use our app.
    </p>
    <p class="subtitle">Information We Collect</p>
    <div class="content">
We do not collect any personal information that is not already publicly available on YouTube. Our app uses YouTube's OAuth 2.0 authentication process to access your YouTube account, and we only request the minimum permissions necessary to provide our services.
<br/><br/>Specifically, our app may collect the following information:
<ul>
<li>YouTube Account Information: We may collect your YouTube channel information, username, and other public profile information associated with your YouTube account.</li>
<li>Video Data: Our app may retrieve video information, including video titles, descriptions, captions, and public statistics, from YouTube.</li>
</ul>
</div>
    <p class="subtitle">How We Use Your Information</p>
    <p class="content">
        We use the collected information solely to provide the services you have requested through our app. This includes uploading captions to YouTube videos and retrieving video data for your convenience. We do not use your information for any other purpose, such as marketing or advertising.
    </p>
    <p class="subtitle">Data Security</p>
    <p class="content">
        We take the security of your information seriously. We implement industry-standard security measures to protect your data from unauthorized access, alteration, disclosure, or destruction. Despite our efforts, please note that no method of transmission over the internet or method of electronic storage is 100% secure. We cannot guarantee its absolute security.
    </p>
    <p class="subtitle">Disclosure of Your Information</p>
    <p class="content">
        We do not share, sell, rent, or trade your information with third parties for any purposes. Your information is used solely within the context of providing the app's services.
    </p>
    <p class="subtitle">Changes to This Privacy Policy</p>
    <p class="content">
        We may update our Privacy Policy from time to time. Any changes we make will be effective when we post the updated Privacy Policy in the app. It is your responsibility to review this Privacy Policy periodically for updates.
    </p>
    <p class="subtitle">Contact Us</p>
    <p class="content">
        If you have any questions or concerns about our Privacy Policy or practices, please contact us at mhenidevs@gmail.com.
    </p>
    <p class="subtitle">Consent</p>
    <p class="content">
        By using our app, you hereby consent to our Privacy Policy and agree to its terms.
    </p>
</div>